**/.vscode
**/*.pdf
**/build_py_tex
**/_build
**/*.d.byte
**/*.o
**/build
**/*.mlo
**/*.mll
**/*.toc
**/*.aux
**/*.out
**/*.log
**/*.nav
**/*.snm
**/_minted-main
.vscode
*.pdf
*.d.byte
*.o
build/
_build/
*.mll
*.mlo
build_py_tex/
toc
aux
out
log
nav
snm
_minted-main
keys/
__src/